* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
    padding: 20px;
}

section {
    position: relative;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    gap: 20px;
    justify-content: center;
}

article {
    flex: 0 0 100px;
    box-shadow: 0 0 3px 3px silver;
    text-align: center;
}

article img {
    width: 50px;
}